<section>
  <h2 class="title"> Micro Interactions for Angular: ng-micro-interact </h2>
  <pre>
    Directive: ngMicroInteract
  </pre>
  <pre>
    Inputs:

    type: (default = 'fade') string - The type of micro interaction (blink, groove, jerk etc..)
    trigger: (default = 'mouseover') string - Event name
    ** options: (optional, default duration = 2000) KeyframeAnimationOptions could include etc: duration

  </pre>
</section>

<section class="interactions">
  <div class="sq" *ngFor="let type of types" ngMicroInteract [type]="type" [trigger]="'mouseover'">
    {{type | uppercase}}
  </div>
</section>
