:host {
  display: flex;
  justify-content: center;
}

.title {
  font-family: Lato;
  font-weight: 400;
  color: darkgray;
}
.interactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  padding: 2rem;
}
.sq {
  width: 100px;
  background: purple;
  color: white;
  text-align: center;
  font-family: Lato;
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
  margin: 10px;
}
