:host {
  display: flex;
  justify-content: center;
}
.sq {
  width: 100px;
  background: purple;
  color: white;
  text-align: center;
  font-family: Lato;
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
}
